USE [Spark_UAT]
GO
/****** Object:  Table [dbo].[SystemScheduleRunningHistories]    Script Date: 10/14/2016 18:20:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemScheduleRunningHistories](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[JobID] [int] NOT NULL,
	[JobName] [nvarchar](max) NULL,
	[JobGroupName] [nvarchar](max) NULL,
	[ScheduleId] [int] NOT NULL,
	[JobScheduleName] [nvarchar](max) NULL,
	[JobScheduleGroupName] [nvarchar](max) NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[PeriodBySecond] [int] NOT NULL,
	[ResultCode] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SystemScheduleRunningHistories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SystemScheduleRunningHistories] ON
SET IDENTITY_INSERT [dbo].[SystemScheduleRunningHistories] OFF
/****** Object:  Table [dbo].[SystemJobSchedules]    Script Date: 10/14/2016 18:20:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemJobSchedules](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[JobId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[GroupName] [nvarchar](max) NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[ScheduleType] [int] NOT NULL,
	[Second] [int] NULL,
	[Minute] [int] NULL,
	[Hour] [int] NULL,
	[DayOfMonth] [int] NULL,
	[Month] [int] NULL,
	[DayOfWeek] [int] NULL,
	[Year] [int] NULL,
	[CronString] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[RunTime] [datetime] NULL,
	[StopTime] [datetime] NULL,
	[SiteName] [nvarchar](max) NULL,
	[Server] [nvarchar](max) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SystemJobSchedules] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SystemJobSchedules] ON
SET IDENTITY_INSERT [dbo].[SystemJobSchedules] OFF
/****** Object:  Table [dbo].[SystemJobs]    Script Date: 10/14/2016 18:20:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemJobs](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[GroupName] [nvarchar](max) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SystemJobs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SystemJobs] ON
INSERT [dbo].[SystemJobs] ([ID], [Name], [Description], [Type], [GroupName], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [IsActive]) VALUES (1, N'LocalObjectJob', N'', N'Accentiv.Spark.JobServer.Job.LocalObjectJob', NULL, 0, CAST(0x0000A65E00E9B145 AS DateTime), 0, CAST(0x0000A65E00E9B145 AS DateTime), 1)
INSERT [dbo].[SystemJobs] ([ID], [Name], [Description], [Type], [GroupName], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [IsActive]) VALUES (2, N'WCFObjectJob', N'', N'Accentiv.Spark.JobServer.Job.WCFObjectJob', NULL, 0, CAST(0x0000A65F00BC7747 AS DateTime), 0, CAST(0x0000A65F00BC7747 AS DateTime), 1)
INSERT [dbo].[SystemJobs] ([ID], [Name], [Description], [Type], [GroupName], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [IsActive]) VALUES (3, N'DBJob', N'', N'Accentiv.Spark.JobServer.Job.DBJob', NULL, 0, CAST(0x0000A65F00BC7747 AS DateTime), 0, CAST(0x0000A65F00BC7747 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[SystemJobs] OFF
/****** Object:  Table [dbo].[SystemJobParameters]    Script Date: 10/14/2016 18:20:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemJobParameters](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[JobID] [int] NOT NULL,
	[ParameterName] [nvarchar](max) NOT NULL,
	[ParameterValue] [nvarchar](max) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SystemJobParameters] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SystemJobParameters] ON
INSERT [dbo].[SystemJobParameters] ([ID], [JobID], [ParameterName], [ParameterValue], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [IsActive]) VALUES (1, 1, N'TargetAssemblyPath', N'Accentiv.Spark.WebAPI.dll', 0, CAST(0x0000A65E00E9B14A AS DateTime), 0, CAST(0x0000A65E00E9B14A AS DateTime), 1)
INSERT [dbo].[SystemJobParameters] ([ID], [JobID], [ParameterName], [ParameterValue], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [IsActive]) VALUES (2, 1, N'TargetTypeFullName', N'Accnteiv.Spark.WebAPI.WechatManager', 0, CAST(0x0000A65E00E9B14C AS DateTime), 0, CAST(0x0000A65E00E9B14C AS DateTime), 1)
INSERT [dbo].[SystemJobParameters] ([ID], [JobID], [ParameterName], [ParameterValue], [CreatedBy], [CreatedOn], [UpdatedBy], [UpdatedOn], [IsActive]) VALUES (3, 1, N'TargetMethodName', N'SyncWechatUser', 0, CAST(0x0000A65E00E9B14E AS DateTime), 0, CAST(0x0000A65E00E9B14E AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[SystemJobParameters] OFF
