USE [HH_RMS]
GO
/****** Object:  Table [dbo].[SystemScheduler]    Script Date: 10/21/2016 18:10:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemScheduler](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[jobId] [bigint] NOT NULL,
	[scheduleName] [nvarchar](50) NULL,
	[scheduleDescription] [nvarchar](100) NULL,
	[scheduleGroup] [nvarchar](100) NULL,
	[intervalType] [int] NOT NULL,
	[cronExpression] [nvarchar](100) NULL,
	[year] [int] NOT NULL,
	[month] [int] NOT NULL,
	[day] [int] NOT NULL,
	[weekday] [int] NOT NULL,
	[hour] [int] NOT NULL,
	[minute] [int] NOT NULL,
	[second] [int] NOT NULL,
	[sqlScriptType] [int] NOT NULL,
	[sqlScript] [nvarchar](1000) NULL,
	[serverName] [nvarchar](100) NULL,
	[siteName] [nvarchar](100) NULL,
	[runTime] [datetime] NOT NULL,
	[stopTime] [datetime] NOT NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SystemScheduler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SystemScheduler] ON
SET IDENTITY_INSERT [dbo].[SystemScheduler] OFF
/****** Object:  Table [dbo].[SystemRole]    Script Date: 10/21/2016 18:10:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemRole](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[roleName] [nvarchar](max) NULL,
	[roleType] [int] NOT NULL,
	[roleOrder] [int] NOT NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SystemRole] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SystemRole] ON
INSERT [dbo].[SystemRole] ([id], [roleName], [roleType], [roleOrder], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (1, N'admin', 1, 1, 0, 0, CAST(0x0000A58000000000 AS DateTime), CAST(0x0000A58000000000 AS DateTime), NULL, 1)
INSERT [dbo].[SystemRole] ([id], [roleName], [roleType], [roleOrder], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (2, N'SuperUser', 2, 2, 0, 0, CAST(0x0000A58000000000 AS DateTime), CAST(0x0000A58000000000 AS DateTime), NULL, 1)
INSERT [dbo].[SystemRole] ([id], [roleName], [roleType], [roleOrder], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (3, N'user', 3, 3, 0, 0, CAST(0x0000A58000000000 AS DateTime), CAST(0x0000A58000000000 AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[SystemRole] OFF
/****** Object:  Table [dbo].[SystemMenuRole]    Script Date: 10/21/2016 18:10:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemMenuRole](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[menuId] [bigint] NOT NULL,
	[roleId] [bigint] NOT NULL,
	[excuteType] [int] NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SystemMenuRole] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SystemMenuRole] ON
INSERT [dbo].[SystemMenuRole] ([id], [menuId], [roleId], [excuteType], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (1, 2, 1, 1, 0, 0, CAST(0x0000A699010183CE AS DateTime), CAST(0x0000A699010183CE AS DateTime), NULL, 1)
INSERT [dbo].[SystemMenuRole] ([id], [menuId], [roleId], [excuteType], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (2, 8, 1, 1, 0, 0, CAST(0x0000A6990101844B AS DateTime), CAST(0x0000A6990101844B AS DateTime), NULL, 1)
INSERT [dbo].[SystemMenuRole] ([id], [menuId], [roleId], [excuteType], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (3, 3, 1, 1, 0, 0, CAST(0x0000A6990101844E AS DateTime), CAST(0x0000A6990101844E AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[SystemMenuRole] OFF
/****** Object:  Table [dbo].[SystemMenu]    Script Date: 10/21/2016 18:10:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemMenu](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NULL,
	[menuName] [nvarchar](50) NULL,
	[description] [nvarchar](100) NULL,
	[parentId] [bigint] NOT NULL,
	[menuOrder] [int] NOT NULL,
	[menuType] [int] NOT NULL,
	[url] [nvarchar](100) NULL,
	[treeLevel] [int] NOT NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SystemMenu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SystemMenu] ON
INSERT [dbo].[SystemMenu] ([id], [code], [menuName], [description], [parentId], [menuOrder], [menuType], [url], [treeLevel], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (2, NULL, N'账号管理', N'系统设置', 0, 100000000, 2, NULL, 0, 0, 0, CAST(0x0000A58000000000 AS DateTime), CAST(0x0000A58000000000 AS DateTime), NULL, 1)
INSERT [dbo].[SystemMenu] ([id], [code], [menuName], [description], [parentId], [menuOrder], [menuType], [url], [treeLevel], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (3, N'Account', N'系统账号', N'系统账号', 2, 100200000, 1, N'/Account/Index', 1, 0, 0, CAST(0x0000A58000000000 AS DateTime), CAST(0x0000A58000000000 AS DateTime), NULL, 1)
INSERT [dbo].[SystemMenu] ([id], [code], [menuName], [description], [parentId], [menuOrder], [menuType], [url], [treeLevel], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (4, N'Role', N'角色管理', N'角色管理', 2, 100300000, 1, N'/Role/Index', 1, 0, 0, CAST(0x0000A58000000000 AS DateTime), CAST(0x0000A58000000000 AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[SystemMenu] OFF
/****** Object:  Table [dbo].[SystemLog]    Script Date: 10/21/2016 18:10:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemLog](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NOT NULL,
	[thread] [nvarchar](max) NULL,
	[level] [nvarchar](max) NULL,
	[logger] [nvarchar](max) NULL,
	[source] [nvarchar](max) NULL,
	[exception] [nvarchar](max) NULL,
	[message] [nvarchar](max) NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SystemLog] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SystemLog] ON
INSERT [dbo].[SystemLog] ([id], [date], [thread], [level], [logger], [source], [exception], [message], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (1, CAST(0x0000A69A0150250F AS DateTime), N'6', N'INFO', N'HH.RMS.Service.ControllerService', N'HH.RMS.MVC.Controllers.LoginController.Index(d:\My Program\HH.RMS\01.HH.RMS\HH.RMS.MVC\Controllers\LoginController.cs:32)', N'', N'21', 0, 0, CAST(0x0000A69A0150250F AS DateTime), CAST(0x0000A69A0150250F AS DateTime), NULL, 1)
INSERT [dbo].[SystemLog] ([id], [date], [thread], [level], [logger], [source], [exception], [message], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (2, CAST(0x0000A69A01504419 AS DateTime), N'9', N'INFO', N'HH.RMS.Service.ControllerService', N'HH.RMS.MVC.Controllers.LoginController.Index(d:\My Program\HH.RMS\01.HH.RMS\HH.RMS.MVC\Controllers\LoginController.cs:32)', N'', N'21', 0, 0, CAST(0x0000A69A01504419 AS DateTime), CAST(0x0000A69A01504419 AS DateTime), NULL, 1)
INSERT [dbo].[SystemLog] ([id], [date], [thread], [level], [logger], [source], [exception], [message], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (3, CAST(0x0000A69A01507210 AS DateTime), N'16', N'INFO', N'HH.RMS.Service.ControllerService', N'HH.RMS.MVC.Controllers.LoginController.Index(d:\My Program\HH.RMS\01.HH.RMS\HH.RMS.MVC\Controllers\LoginController.cs:32)', N'', N'21', 0, 0, CAST(0x0000A69A01507210 AS DateTime), CAST(0x0000A69A01507210 AS DateTime), NULL, 1)
INSERT [dbo].[SystemLog] ([id], [date], [thread], [level], [logger], [source], [exception], [message], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (18, CAST(0x0000A69D00BE37CD AS DateTime), N'7', N'ERROR', N'HH.RMS.MVC.MvcApplication', N'HH.RMS.MVC.MvcApplication.Application_Error(d:\My Program\HH.RMS\01.HH.RMS\HH.RMS.MVC\Global.asax.cs:33)', N'System.Web.Mvc.HttpAntiForgeryException (0x80004005): The anti-forgery token could not be decrypted. If this application is hosted by a Web Farm or cluster, ensure that all machines are running the same version of ASP.NET Web Pages and that the <machineKey> configuration specifies explicit encryption and validation keys. AutoGenerate cannot be used in a cluster.
   at System.Web.Helpers.AntiXsrf.AntiForgeryTokenSerializer.Deserialize(String serializedToken)
   at System.Web.Helpers.AntiXsrf.AntiForgeryWorker.Validate(HttpContextBase httpContext)
   at System.Web.Mvc.ControllerActionInvoker.InvokeAuthorizationFilters(ControllerContext controllerContext, IList`1 filters, ActionDescriptor actionDescriptor)
   at System.Web.Mvc.Async.AsyncControllerActionInvoker.<>c__DisplayClass25.<BeginInvokeAction>b__1e(AsyncCallback asyncCallback, Object asyncState)
   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncResult`1.Begin(AsyncCallback callback, Object state, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin[TResult](AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate`1 endDelegate, Object tag, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin[TResult](AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate`1 endDelegate, Object tag)
   at System.Web.Mvc.Controller.<>c__DisplayClass1d.<BeginExecuteCore>b__17(AsyncCallback asyncCallback, Object asyncState)
   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncResult`1.Begin(AsyncCallback callback, Object state, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin[TResult](AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate`1 endDelegate, Object tag, Int32 timeout)
   at System.Web.Mvc.Controller.BeginExecuteCore(AsyncCallback callback, Object state)
   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncResult`1.Begin(AsyncCallback callback, Object state, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin[TResult](AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate`1 endDelegate, Object tag, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin(AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate endDelegate, Object tag)
   at System.Web.Mvc.Controller.BeginExecute(RequestContext requestContext, AsyncCallback callback, Object state)
   at System.Web.Mvc.MvcHandler.<>c__DisplayClass8.<BeginProcessRequest>b__2(AsyncCallback asyncCallback, Object asyncState)
   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncResult`1.Begin(AsyncCallback callback, Object state, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin[TResult](AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate`1 endDelegate, Object tag, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin(AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate endDelegate, Object tag)
   at System.Web.Mvc.MvcHandler.BeginProcessRequest(HttpContextBase httpContext, AsyncCallback callback, Object state)
   at System.Web.HttpApplication.CallHandlerExecutionStep.System.Web.HttpApplication.IExecutionStep.Execute()
   at System.Web.HttpApplication.ExecuteStep(IExecutionStep step, Boolean& completedSynchronously)', N'Application.Error:http://localhost:8888/Login/Index', 0, 0, CAST(0x0000A69D00BE37CD AS DateTime), CAST(0x0000A69D00BE37CD AS DateTime), NULL, 1)
INSERT [dbo].[SystemLog] ([id], [date], [thread], [level], [logger], [source], [exception], [message], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (19, CAST(0x0000A69D00BE3CB2 AS DateTime), N'9', N'ERROR', N'HH.RMS.MVC.MvcApplication', N'HH.RMS.MVC.MvcApplication.Application_Error(d:\My Program\HH.RMS\01.HH.RMS\HH.RMS.MVC\Global.asax.cs:33)', N'System.Web.Mvc.HttpAntiForgeryException (0x80004005): The anti-forgery token could not be decrypted. If this application is hosted by a Web Farm or cluster, ensure that all machines are running the same version of ASP.NET Web Pages and that the <machineKey> configuration specifies explicit encryption and validation keys. AutoGenerate cannot be used in a cluster.
   at System.Web.Helpers.AntiXsrf.AntiForgeryTokenSerializer.Deserialize(String serializedToken)
   at System.Web.Helpers.AntiXsrf.AntiForgeryWorker.Validate(HttpContextBase httpContext)
   at System.Web.Mvc.ControllerActionInvoker.InvokeAuthorizationFilters(ControllerContext controllerContext, IList`1 filters, ActionDescriptor actionDescriptor)
   at System.Web.Mvc.Async.AsyncControllerActionInvoker.<>c__DisplayClass25.<BeginInvokeAction>b__1e(AsyncCallback asyncCallback, Object asyncState)
   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncResult`1.Begin(AsyncCallback callback, Object state, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin[TResult](AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate`1 endDelegate, Object tag, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin[TResult](AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate`1 endDelegate, Object tag)
   at System.Web.Mvc.Controller.<>c__DisplayClass1d.<BeginExecuteCore>b__17(AsyncCallback asyncCallback, Object asyncState)
   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncResult`1.Begin(AsyncCallback callback, Object state, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin[TResult](AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate`1 endDelegate, Object tag, Int32 timeout)
   at System.Web.Mvc.Controller.BeginExecuteCore(AsyncCallback callback, Object state)
   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncResult`1.Begin(AsyncCallback callback, Object state, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin[TResult](AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate`1 endDelegate, Object tag, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin(AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate endDelegate, Object tag)
   at System.Web.Mvc.Controller.BeginExecute(RequestContext requestContext, AsyncCallback callback, Object state)
   at System.Web.Mvc.MvcHandler.<>c__DisplayClass8.<BeginProcessRequest>b__2(AsyncCallback asyncCallback, Object asyncState)
   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncResult`1.Begin(AsyncCallback callback, Object state, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin[TResult](AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate`1 endDelegate, Object tag, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin(AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate endDelegate, Object tag)
   at System.Web.Mvc.MvcHandler.BeginProcessRequest(HttpContextBase httpContext, AsyncCallback callback, Object state)
   at System.Web.HttpApplication.CallHandlerExecutionStep.System.Web.HttpApplication.IExecutionStep.Execute()
   at System.Web.HttpApplication.ExecuteStep(IExecutionStep step, Boolean& completedSynchronously)', N'Application.Error:http://localhost:8888/Login/Index', 0, 0, CAST(0x0000A69D00BE3CB2 AS DateTime), CAST(0x0000A69D00BE3CB2 AS DateTime), NULL, 1)
INSERT [dbo].[SystemLog] ([id], [date], [thread], [level], [logger], [source], [exception], [message], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (20, CAST(0x0000A69D00BE5493 AS DateTime), N'7', N'ERROR', N'HH.RMS.MVC.MvcApplication', N'HH.RMS.MVC.MvcApplication.Application_Error(d:\My Program\HH.RMS\01.HH.RMS\HH.RMS.MVC\Global.asax.cs:33)', N'System.Web.Mvc.HttpAntiForgeryException (0x80004005): The anti-forgery token could not be decrypted. If this application is hosted by a Web Farm or cluster, ensure that all machines are running the same version of ASP.NET Web Pages and that the <machineKey> configuration specifies explicit encryption and validation keys. AutoGenerate cannot be used in a cluster.
   at System.Web.Helpers.AntiXsrf.AntiForgeryTokenSerializer.Deserialize(String serializedToken)
   at System.Web.Helpers.AntiXsrf.AntiForgeryWorker.Validate(HttpContextBase httpContext)
   at System.Web.Mvc.ControllerActionInvoker.InvokeAuthorizationFilters(ControllerContext controllerContext, IList`1 filters, ActionDescriptor actionDescriptor)
   at System.Web.Mvc.Async.AsyncControllerActionInvoker.<>c__DisplayClass25.<BeginInvokeAction>b__1e(AsyncCallback asyncCallback, Object asyncState)
   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncResult`1.Begin(AsyncCallback callback, Object state, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin[TResult](AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate`1 endDelegate, Object tag, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin[TResult](AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate`1 endDelegate, Object tag)
   at System.Web.Mvc.Controller.<>c__DisplayClass1d.<BeginExecuteCore>b__17(AsyncCallback asyncCallback, Object asyncState)
   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncResult`1.Begin(AsyncCallback callback, Object state, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin[TResult](AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate`1 endDelegate, Object tag, Int32 timeout)
   at System.Web.Mvc.Controller.BeginExecuteCore(AsyncCallback callback, Object state)
   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncResult`1.Begin(AsyncCallback callback, Object state, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin[TResult](AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate`1 endDelegate, Object tag, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin(AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate endDelegate, Object tag)
   at System.Web.Mvc.Controller.BeginExecute(RequestContext requestContext, AsyncCallback callback, Object state)
   at System.Web.Mvc.MvcHandler.<>c__DisplayClass8.<BeginProcessRequest>b__2(AsyncCallback asyncCallback, Object asyncState)
   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncResult`1.Begin(AsyncCallback callback, Object state, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin[TResult](AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate`1 endDelegate, Object tag, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin(AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate endDelegate, Object tag)
   at System.Web.Mvc.MvcHandler.BeginProcessRequest(HttpContextBase httpContext, AsyncCallback callback, Object state)
   at System.Web.HttpApplication.CallHandlerExecutionStep.System.Web.HttpApplication.IExecutionStep.Execute()
   at System.Web.HttpApplication.ExecuteStep(IExecutionStep step, Boolean& completedSynchronously)', N'Application.Error:http://localhost:8888/Login/Index', 0, 0, CAST(0x0000A69D00BE5493 AS DateTime), CAST(0x0000A69D00BE5493 AS DateTime), NULL, 1)
INSERT [dbo].[SystemLog] ([id], [date], [thread], [level], [logger], [source], [exception], [message], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (21, CAST(0x0000A69D00BE63CF AS DateTime), N'8', N'ERROR', N'HH.RMS.MVC.MvcApplication', N'HH.RMS.MVC.MvcApplication.Application_Error(d:\My Program\HH.RMS\01.HH.RMS\HH.RMS.MVC\Global.asax.cs:33)', N'System.Web.Mvc.HttpAntiForgeryException (0x80004005): The anti-forgery token could not be decrypted. If this application is hosted by a Web Farm or cluster, ensure that all machines are running the same version of ASP.NET Web Pages and that the <machineKey> configuration specifies explicit encryption and validation keys. AutoGenerate cannot be used in a cluster.
   at System.Web.Helpers.AntiXsrf.AntiForgeryTokenSerializer.Deserialize(String serializedToken)
   at System.Web.Helpers.AntiXsrf.AntiForgeryWorker.Validate(HttpContextBase httpContext)
   at System.Web.Mvc.ControllerActionInvoker.InvokeAuthorizationFilters(ControllerContext controllerContext, IList`1 filters, ActionDescriptor actionDescriptor)
   at System.Web.Mvc.Async.AsyncControllerActionInvoker.<>c__DisplayClass25.<BeginInvokeAction>b__1e(AsyncCallback asyncCallback, Object asyncState)
   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncResult`1.Begin(AsyncCallback callback, Object state, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin[TResult](AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate`1 endDelegate, Object tag, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin[TResult](AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate`1 endDelegate, Object tag)
   at System.Web.Mvc.Controller.<>c__DisplayClass1d.<BeginExecuteCore>b__17(AsyncCallback asyncCallback, Object asyncState)
   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncResult`1.Begin(AsyncCallback callback, Object state, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin[TResult](AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate`1 endDelegate, Object tag, Int32 timeout)
   at System.Web.Mvc.Controller.BeginExecuteCore(AsyncCallback callback, Object state)
   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncResult`1.Begin(AsyncCallback callback, Object state, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin[TResult](AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate`1 endDelegate, Object tag, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin(AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate endDelegate, Object tag)
   at System.Web.Mvc.Controller.BeginExecute(RequestContext requestContext, AsyncCallback callback, Object state)
   at System.Web.Mvc.MvcHandler.<>c__DisplayClass8.<BeginProcessRequest>b__2(AsyncCallback asyncCallback, Object asyncState)
   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncResult`1.Begin(AsyncCallback callback, Object state, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin[TResult](AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate`1 endDelegate, Object tag, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin(AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate endDelegate, Object tag)
   at System.Web.Mvc.MvcHandler.BeginProcessRequest(HttpContextBase httpContext, AsyncCallback callback, Object state)
   at System.Web.HttpApplication.CallHandlerExecutionStep.System.Web.HttpApplication.IExecutionStep.Execute()
   at System.Web.HttpApplication.ExecuteStep(IExecutionStep step, Boolean& completedSynchronously)', N'Application.Error:http://localhost:8888/Login/Index', 0, 0, CAST(0x0000A69D00BE63CF AS DateTime), CAST(0x0000A69D00BE63CF AS DateTime), NULL, 1)
INSERT [dbo].[SystemLog] ([id], [date], [thread], [level], [logger], [source], [exception], [message], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (23, CAST(0x0000A69D00BE8DA3 AS DateTime), N'7', N'ERROR', N'HH.RMS.MVC.MvcApplication', N'HH.RMS.MVC.MvcApplication.Application_Error(d:\My Program\HH.RMS\01.HH.RMS\HH.RMS.MVC\Global.asax.cs:33)', N'System.Web.Mvc.HttpAntiForgeryException (0x80004005): The anti-forgery token could not be decrypted. If this application is hosted by a Web Farm or cluster, ensure that all machines are running the same version of ASP.NET Web Pages and that the <machineKey> configuration specifies explicit encryption and validation keys. AutoGenerate cannot be used in a cluster.
   at System.Web.Helpers.AntiXsrf.AntiForgeryTokenSerializer.Deserialize(String serializedToken)
   at System.Web.Helpers.AntiXsrf.AntiForgeryWorker.Validate(HttpContextBase httpContext)
   at System.Web.Mvc.ControllerActionInvoker.InvokeAuthorizationFilters(ControllerContext controllerContext, IList`1 filters, ActionDescriptor actionDescriptor)
   at System.Web.Mvc.Async.AsyncControllerActionInvoker.<>c__DisplayClass25.<BeginInvokeAction>b__1e(AsyncCallback asyncCallback, Object asyncState)
   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncResult`1.Begin(AsyncCallback callback, Object state, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin[TResult](AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate`1 endDelegate, Object tag, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin[TResult](AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate`1 endDelegate, Object tag)
   at System.Web.Mvc.Controller.<>c__DisplayClass1d.<BeginExecuteCore>b__17(AsyncCallback asyncCallback, Object asyncState)
   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncResult`1.Begin(AsyncCallback callback, Object state, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin[TResult](AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate`1 endDelegate, Object tag, Int32 timeout)
   at System.Web.Mvc.Controller.BeginExecuteCore(AsyncCallback callback, Object state)
   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncResult`1.Begin(AsyncCallback callback, Object state, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin[TResult](AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate`1 endDelegate, Object tag, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin(AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate endDelegate, Object tag)
   at System.Web.Mvc.Controller.BeginExecute(RequestContext requestContext, AsyncCallback callback, Object state)
   at System.Web.Mvc.MvcHandler.<>c__DisplayClass8.<BeginProcessRequest>b__2(AsyncCallback asyncCallback, Object asyncState)
   at System.Web.Mvc.Async.AsyncResultWrapper.WrappedAsyncResult`1.Begin(AsyncCallback callback, Object state, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin[TResult](AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate`1 endDelegate, Object tag, Int32 timeout)
   at System.Web.Mvc.Async.AsyncResultWrapper.Begin(AsyncCallback callback, Object state, BeginInvokeDelegate beginDelegate, EndInvokeDelegate endDelegate, Object tag)
   at System.Web.Mvc.MvcHandler.BeginProcessRequest(HttpContextBase httpContext, AsyncCallback callback, Object state)
   at System.Web.HttpApplication.CallHandlerExecutionStep.System.Web.HttpApplication.IExecutionStep.Execute()
   at System.Web.HttpApplication.ExecuteStep(IExecutionStep step, Boolean& completedSynchronously)', N'Application.Error:http://localhost:8888/Login/Index', 0, 0, CAST(0x0000A69D00BE8DA3 AS DateTime), CAST(0x0000A69D00BE8DA3 AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[SystemLog] OFF
/****** Object:  Table [dbo].[SystemJobParameter]    Script Date: 10/21/2016 18:10:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemJobParameter](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[jobId] [bigint] NOT NULL,
	[parameterName] [nvarchar](50) NULL,
	[parameterValue] [nvarchar](100) NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SystemJobParameter] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SystemJobParameter] ON
INSERT [dbo].[SystemJobParameter] ([id], [jobId], [parameterName], [parameterValue], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (1, 2, NULL, NULL, 0, 0, CAST(0x0000A58000000000 AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SystemJobParameter] ([id], [jobId], [parameterName], [parameterValue], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (2, 2, NULL, NULL, 0, 0, CAST(0x0000A58000000000 AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SystemJobParameter] ([id], [jobId], [parameterName], [parameterValue], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (3, 2, NULL, NULL, 0, 0, CAST(0x0000A58000000000 AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[SystemJobParameter] OFF
/****** Object:  Table [dbo].[SystemJobLog]    Script Date: 10/21/2016 18:10:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemJobLog](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[jobId] [bigint] NOT NULL,
	[schedulerId] [bigint] NOT NULL,
	[jobName] [nvarchar](100) NULL,
	[jobGroup] [nvarchar](100) NULL,
	[scheduleName] [nvarchar](100) NULL,
	[scheduleGroup] [nvarchar](100) NULL,
	[executeSecond] [bigint] NOT NULL,
	[startTime] [datetime] NOT NULL,
	[endTime] [datetime] NOT NULL,
	[resultType] [int] NOT NULL,
	[resultMessage] [nvarchar](max) NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SystemSchedulerLog] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemJob]    Script Date: 10/21/2016 18:10:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemJob](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[schedulerId] [bigint] NULL,
	[jobName] [nvarchar](50) NULL,
	[jobGroup] [nvarchar](100) NULL,
	[jobDescription] [nvarchar](100) NULL,
	[jobType] [int] NOT NULL,
	[jobAssemblyFullName] [nvarchar](500) NULL,
	[jobAssembly] [nvarchar](100) NULL,
	[jobAssemblyPath] [nvarchar](100) NULL,
	[jobAssemblyMethod] [nvarchar](100) NULL,
	[jobUrl] [nvarchar](500) NULL,
	[jobCommandType] [int] NULL,
	[jobCommandText] [nvarchar](max) NULL,
	[fromDate] [datetime] NOT NULL,
	[toDate] [datetime] NOT NULL,
	[isSequence] [bit] NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SystemJob] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SystemJob] ON
SET IDENTITY_INSERT [dbo].[SystemJob] OFF
/****** Object:  Table [dbo].[person]    Script Date: 10/21/2016 18:10:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[person](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](10) NULL,
	[nickName] [nvarchar](20) NULL,
	[mobile] [nvarchar](11) NULL,
	[email] [nvarchar](50) NULL,
	[sex] [int] NOT NULL,
	[birthday] [nvarchar](10) NULL,
	[countryId] [bigint] NOT NULL,
	[provinceId] [bigint] NOT NULL,
	[cityId] [bigint] NOT NULL,
	[address] [nvarchar](100) NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.person] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[person] ON
INSERT [dbo].[person] ([id], [name], [nickName], [mobile], [email], [sex], [birthday], [countryId], [provinceId], [cityId], [address], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (1, N'henry', N'henry', N'13333333333', N'email@163.com', 1, N'2000-01-01', 1, 1, 8, NULL, 0, 0, CAST(0x0000A58000000000 AS DateTime), CAST(0x0000A58000000000 AS DateTime), NULL, 1)
INSERT [dbo].[person] ([id], [name], [nickName], [mobile], [email], [sex], [birthday], [countryId], [provinceId], [cityId], [address], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (2, N'23weqwe', N'切2', N'13333333333', N'122', 1, N'08/09/2016', 1, 2, 12, N'12312312312', 0, 0, CAST(0x0000A66400958D3D AS DateTime), CAST(0x0000A66400958D3D AS DateTime), N'3eqweqwe', 1)
INSERT [dbo].[person] ([id], [name], [nickName], [mobile], [email], [sex], [birthday], [countryId], [provinceId], [cityId], [address], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (4, N'1313', N'weqwe', N'11111111111', N'2313', 1, N'08/08/2016', 1, 1, 8, N'1231', 0, 0, CAST(0x0000A66400997101 AS DateTime), CAST(0x0000A66400997101 AS DateTime), N'23131', 1)
SET IDENTITY_INSERT [dbo].[person] OFF
/****** Object:  Table [dbo].[country]    Script Date: 10/21/2016 18:10:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[country](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](20) NULL,
	[name] [nvarchar](50) NULL,
	[order] [int] NOT NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.country] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[country] ON
INSERT [dbo].[country] ([id], [code], [name], [order], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (1, N'CN', N'中国', 1, 0, 0, CAST(0x0000A58000000000 AS DateTime), CAST(0x0000A58000000000 AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[country] OFF
/****** Object:  Table [dbo].[AccountLevel]    Script Date: 10/21/2016 18:10:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountLevel](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[levelName] [nvarchar](max) NULL,
	[levelOrder] [int] NOT NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.AccountLevel] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AccountLevel] ON
INSERT [dbo].[AccountLevel] ([id], [levelName], [levelOrder], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (1, N'Level1', 1, 1, 1, CAST(0x0000A58000000000 AS DateTime), CAST(0x0000A58000000000 AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[AccountLevel] OFF
/****** Object:  Table [dbo].[province]    Script Date: 10/21/2016 18:10:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[province](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[countryId] [bigint] NOT NULL,
	[code] [nvarchar](20) NULL,
	[name] [nvarchar](50) NULL,
	[order] [int] NOT NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.province] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[province] ON
INSERT [dbo].[province] ([id], [countryId], [code], [name], [order], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (1, 1, N'安徽', N'安徽', 13, 0, 0, CAST(0x0000A65F00C55C8E AS DateTime), CAST(0x0000A65F00C55C8E AS DateTime), NULL, 1)
INSERT [dbo].[province] ([id], [countryId], [code], [name], [order], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (2, 1, N'澳门', N'澳门', 9, 0, 0, CAST(0x0000A65F00C55C8E AS DateTime), CAST(0x0000A65F00C55C8E AS DateTime), NULL, 1)
INSERT [dbo].[province] ([id], [countryId], [code], [name], [order], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (3, 1, N'北京', N'北京', 2, 0, 0, CAST(0x0000A65F00C55C8E AS DateTime), CAST(0x0000A65F00C55C8E AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[province] OFF
/****** Object:  Table [dbo].[Account]    Script Date: 10/21/2016 18:10:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[accountName] [nvarchar](32) NULL,
	[password] [nvarchar](32) NULL,
	[personId] [bigint] NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[score] [decimal](18, 2) NOT NULL,
	[LevelId] [int] NOT NULL,
	[status] [int] NOT NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
	[RoleEntity_id] [bigint] NULL,
 CONSTRAINT [PK_dbo.Account] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_AccountName] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON
INSERT [dbo].[Account] ([id], [accountName], [password], [personId], [amount], [score], [LevelId], [status], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive], [RoleEntity_id]) VALUES (2, N'admin', N'123456', 1, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 1, 1, 0, 2, CAST(0x0000A63200A6F45F AS DateTime), CAST(0x0000A65D012CAE2C AS DateTime), NULL, 1, NULL)
INSERT [dbo].[Account] ([id], [accountName], [password], [personId], [amount], [score], [LevelId], [status], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive], [RoleEntity_id]) VALUES (3, N'user1', N'123456', 1, CAST(0.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), 1, 1, 0, 2, CAST(0x0000A63200A7E8EE AS DateTime), CAST(0x0000A65D012CAE2C AS DateTime), NULL, 1, NULL)
INSERT [dbo].[Account] ([id], [accountName], [password], [personId], [amount], [score], [LevelId], [status], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive], [RoleEntity_id]) VALUES (4, N'user2', N'123456', 1, CAST(0.00 AS Decimal(18, 2)), CAST(20.00 AS Decimal(18, 2)), 1, 1, 0, 2, CAST(0x0000A63200A930A2 AS DateTime), CAST(0x0000A65D012CAE2C AS DateTime), NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[Account] OFF
/****** Object:  Table [dbo].[SystemAccountRole]    Script Date: 10/21/2016 18:10:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemAccountRole](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[accountId] [bigint] NOT NULL,
	[roleId] [bigint] NOT NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SystemAccountRole] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SystemAccountRole] ON
INSERT [dbo].[SystemAccountRole] ([id], [accountId], [roleId], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (2, 2, 1, 0, 0, CAST(0x0000A58000000000 AS DateTime), CAST(0x0000A58000000000 AS DateTime), NULL, 1)
INSERT [dbo].[SystemAccountRole] ([id], [accountId], [roleId], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (3, 2, 2, 0, 0, CAST(0x0000A58000000000 AS DateTime), CAST(0x0000A58000000000 AS DateTime), NULL, 1)
INSERT [dbo].[SystemAccountRole] ([id], [accountId], [roleId], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (8, 3, 3, 0, 0, CAST(0x0000A58000000000 AS DateTime), CAST(0x0000A58000000000 AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[SystemAccountRole] OFF
/****** Object:  Table [dbo].[city]    Script Date: 10/21/2016 18:10:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[city](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[provinceId] [bigint] NOT NULL,
	[code] [nvarchar](20) NULL,
	[name] [nvarchar](50) NULL,
	[order] [int] NOT NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.city] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[city] ON
INSERT [dbo].[city] ([id], [provinceId], [code], [name], [order], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (2, 27, N'阿坝州', N'阿坝州', 2, 0, 0, CAST(0x0000A65F00C55C90 AS DateTime), CAST(0x0000A65F00C55C90 AS DateTime), NULL, 1)
INSERT [dbo].[city] ([id], [provinceId], [code], [name], [order], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (3, 32, N'阿克苏地区', N'阿克苏地区', 3, 0, 0, CAST(0x0000A65F00C55C90 AS DateTime), CAST(0x0000A65F00C55C90 AS DateTime), NULL, 1)
INSERT [dbo].[city] ([id], [provinceId], [code], [name], [order], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (4, 19, N'阿拉善盟', N'阿拉善盟', 4, 0, 0, CAST(0x0000A65F00C55C90 AS DateTime), CAST(0x0000A65F00C55C90 AS DateTime), NULL, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
SET IDENTITY_INSERT [dbo].[city] OFF
/****** Object:  Default [DF_city_createBy]    Script Date: 10/21/2016 18:10:00 ******/
ALTER TABLE [dbo].[city] ADD  CONSTRAINT [DF_city_createBy]  DEFAULT ((0)) FOR [createBy]
GO
/****** Object:  Default [DF_city_updateBy]    Script Date: 10/21/2016 18:10:00 ******/
ALTER TABLE [dbo].[city] ADD  CONSTRAINT [DF_city_updateBy]  DEFAULT ((0)) FOR [updateBy]
GO
/****** Object:  Default [DF_city_createTime]    Script Date: 10/21/2016 18:10:00 ******/
ALTER TABLE [dbo].[city] ADD  CONSTRAINT [DF_city_createTime]  DEFAULT (getdate()) FOR [createTime]
GO
/****** Object:  Default [DF_city_updateTime]    Script Date: 10/21/2016 18:10:00 ******/
ALTER TABLE [dbo].[city] ADD  CONSTRAINT [DF_city_updateTime]  DEFAULT (getdate()) FOR [updateTime]
GO
/****** Object:  Default [DF_city_isActive]    Script Date: 10/21/2016 18:10:00 ******/
ALTER TABLE [dbo].[city] ADD  CONSTRAINT [DF_city_isActive]  DEFAULT ((1)) FOR [isActive]
GO
/****** Object:  Default [DF_province_createBy]    Script Date: 10/21/2016 18:10:00 ******/
ALTER TABLE [dbo].[province] ADD  CONSTRAINT [DF_province_createBy]  DEFAULT ((0)) FOR [createBy]
GO
/****** Object:  Default [DF_province_updateBy]    Script Date: 10/21/2016 18:10:00 ******/
ALTER TABLE [dbo].[province] ADD  CONSTRAINT [DF_province_updateBy]  DEFAULT ((0)) FOR [updateBy]
GO
/****** Object:  Default [DF_province_createTime]    Script Date: 10/21/2016 18:10:00 ******/
ALTER TABLE [dbo].[province] ADD  CONSTRAINT [DF_province_createTime]  DEFAULT (getdate()) FOR [createTime]
GO
/****** Object:  Default [DF_province_updateTime]    Script Date: 10/21/2016 18:10:00 ******/
ALTER TABLE [dbo].[province] ADD  CONSTRAINT [DF_province_updateTime]  DEFAULT (getdate()) FOR [updateTime]
GO
/****** Object:  Default [DF_province_isActive]    Script Date: 10/21/2016 18:10:00 ******/
ALTER TABLE [dbo].[province] ADD  CONSTRAINT [DF_province_isActive]  DEFAULT ((1)) FOR [isActive]
GO
/****** Object:  ForeignKey [FK_dbo.Account_dbo.person_personId]    Script Date: 10/21/2016 18:10:00 ******/
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Account_dbo.person_personId] FOREIGN KEY([personId])
REFERENCES [dbo].[person] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_dbo.Account_dbo.person_personId]
GO
/****** Object:  ForeignKey [FK_dbo.Account_dbo.SystemRole_RoleEntity_id]    Script Date: 10/21/2016 18:10:00 ******/
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Account_dbo.SystemRole_RoleEntity_id] FOREIGN KEY([RoleEntity_id])
REFERENCES [dbo].[SystemRole] ([id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_dbo.Account_dbo.SystemRole_RoleEntity_id]
GO
/****** Object:  ForeignKey [FK_dbo.city_dbo.province_provinceId]    Script Date: 10/21/2016 18:10:00 ******/
ALTER TABLE [dbo].[city]  WITH CHECK ADD  CONSTRAINT [FK_dbo.city_dbo.province_provinceId] FOREIGN KEY([provinceId])
REFERENCES [dbo].[province] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[city] CHECK CONSTRAINT [FK_dbo.city_dbo.province_provinceId]
GO
/****** Object:  ForeignKey [FK_dbo.province_dbo.country_countryId]    Script Date: 10/21/2016 18:10:00 ******/
ALTER TABLE [dbo].[province]  WITH CHECK ADD  CONSTRAINT [FK_dbo.province_dbo.country_countryId] FOREIGN KEY([countryId])
REFERENCES [dbo].[country] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[province] CHECK CONSTRAINT [FK_dbo.province_dbo.country_countryId]
GO
/****** Object:  ForeignKey [FK_dbo.SystemAccountRole_dbo.Account_accountId]    Script Date: 10/21/2016 18:10:00 ******/
ALTER TABLE [dbo].[SystemAccountRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SystemAccountRole_dbo.Account_accountId] FOREIGN KEY([accountId])
REFERENCES [dbo].[Account] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SystemAccountRole] CHECK CONSTRAINT [FK_dbo.SystemAccountRole_dbo.Account_accountId]
GO
/****** Object:  ForeignKey [FK_dbo.SystemAccountRole_dbo.SystemRole_roleId]    Script Date: 10/21/2016 18:10:00 ******/
ALTER TABLE [dbo].[SystemAccountRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SystemAccountRole_dbo.SystemRole_roleId] FOREIGN KEY([roleId])
REFERENCES [dbo].[SystemRole] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SystemAccountRole] CHECK CONSTRAINT [FK_dbo.SystemAccountRole_dbo.SystemRole_roleId]
GO
