USE [HH_RMS]
GO
/****** Object:  Table [dbo].[PersonEntities]    Script Date: 11/23/2016 14:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonEntities](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](10) NULL,
	[nickName] [nvarchar](20) NULL,
	[mobile] [nvarchar](11) NULL,
	[sex] [int] NOT NULL,
	[birthday] [nvarchar](10) NULL,
	[countryId] [bigint] NOT NULL,
	[provinceId] [bigint] NOT NULL,
	[cityId] [bigint] NOT NULL,
	[address] [nvarchar](100) NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.PersonEntities] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[person]    Script Date: 11/23/2016 14:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[person](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](10) NULL,
	[nickName] [nvarchar](20) NULL,
	[mobile] [nvarchar](11) NULL,
	[sex] [int] NOT NULL,
	[birthday] [nvarchar](10) NULL,
	[countryId] [bigint] NOT NULL,
	[provinceId] [bigint] NOT NULL,
	[cityId] [bigint] NOT NULL,
	[address] [nvarchar](100) NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.person] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[person] ON
INSERT [dbo].[person] ([id], [name], [nickName], [mobile], [sex], [birthday], [countryId], [provinceId], [cityId], [address], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (1, N'henry', N'henry', N'13333333333', 1, N'2000-01-01', 1, 1, 8, NULL, 0, 0, CAST(0x0000A58000000000 AS DateTime), CAST(0x0000A58000000000 AS DateTime), NULL, 1)
INSERT [dbo].[person] ([id], [name], [nickName], [mobile], [sex], [birthday], [countryId], [provinceId], [cityId], [address], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (2, N'23weqwe', N'切2', N'13333333333', 1, N'08/09/2016', 1, 2, 12, N'12312312312', 0, 0, CAST(0x0000A66400958D3D AS DateTime), CAST(0x0000A66400958D3D AS DateTime), N'3eqweqwe', 1)
INSERT [dbo].[person] ([id], [name], [nickName], [mobile], [sex], [birthday], [countryId], [provinceId], [cityId], [address], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (4, N'1313', N'weqwe', N'11111111111', 1, N'08/08/2016', 1, 1, 8, N'1231', 0, 0, CAST(0x0000A66400997101 AS DateTime), CAST(0x0000A66400997101 AS DateTime), N'23131', 1)
SET IDENTITY_INSERT [dbo].[person] OFF
/****** Object:  Table [dbo].[MenuRoleEntities]    Script Date: 11/23/2016 14:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuRoleEntities](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[menuId] [bigint] NOT NULL,
	[roleId] [bigint] NOT NULL,
	[excuteType] [int] NOT NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.MenuRoleEntities] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuEntities]    Script Date: 11/23/2016 14:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuEntities](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](max) NULL,
	[menuName] [nvarchar](50) NULL,
	[description] [nvarchar](100) NULL,
	[parentId] [bigint] NOT NULL,
	[menuOrder] [int] NOT NULL,
	[menuType] [int] NOT NULL,
	[url] [nvarchar](100) NULL,
	[treeLevel] [int] NOT NULL,
	[selectBitMap] [bigint] NOT NULL,
	[deleteBitMap] [bigint] NOT NULL,
	[insertBitMap] [bigint] NOT NULL,
	[updateBitMap] [bigint] NOT NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.MenuEntities] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogEntities]    Script Date: 11/23/2016 14:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogEntities](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NOT NULL,
	[thread] [nvarchar](max) NULL,
	[level] [nvarchar](max) NULL,
	[logger] [nvarchar](max) NULL,
	[source] [nvarchar](max) NULL,
	[exception] [nvarchar](max) NULL,
	[message] [nvarchar](max) NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.LogEntities] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LevelEntities]    Script Date: 11/23/2016 14:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LevelEntities](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[levelName] [nvarchar](max) NULL,
	[levelOrder] [int] NOT NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.LevelEntities] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobParameterEntities]    Script Date: 11/23/2016 14:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobParameterEntities](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[jobId] [bigint] NOT NULL,
	[parameterName] [nvarchar](max) NULL,
	[parameterValue] [nvarchar](max) NULL,
	[parameterType] [int] NOT NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.JobParameterEntities] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobLogEntities]    Script Date: 11/23/2016 14:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobLogEntities](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[schedulerId] [bigint] NOT NULL,
	[jobId] [bigint] NOT NULL,
	[scheduleGroup] [nvarchar](100) NULL,
	[jobGroup] [nvarchar](100) NULL,
	[scheduleName] [nvarchar](100) NULL,
	[jobName] [nvarchar](100) NULL,
	[executeSecond] [bigint] NOT NULL,
	[startTime] [datetime] NOT NULL,
	[endTime] [datetime] NOT NULL,
	[resultType] [int] NOT NULL,
	[jobType] [int] NOT NULL,
	[resultMessage] [nvarchar](max) NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.JobLogEntities] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobEntities]    Script Date: 11/23/2016 14:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobEntities](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[schedulerId] [bigint] NOT NULL,
	[jobGroup] [nvarchar](50) NULL,
	[jobName] [nvarchar](50) NULL,
	[jobDescription] [nvarchar](50) NULL,
	[jobType] [int] NOT NULL,
	[jobAssembly] [nvarchar](100) NULL,
	[jobAssemblyPath] [nvarchar](100) NULL,
	[jobAssemblyFullName] [nvarchar](500) NULL,
	[jobAssemblyMethod] [nvarchar](100) NULL,
	[jobUrl] [nvarchar](500) NULL,
	[jobCommandType] [int] NULL,
	[jobCommandText] [nvarchar](max) NULL,
	[fromDate] [datetime] NOT NULL,
	[toDate] [datetime] NOT NULL,
	[isSequence] [bit] NOT NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.JobEntities] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CountryEntities]    Script Date: 11/23/2016 14:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CountryEntities](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](20) NULL,
	[name] [nvarchar](50) NULL,
	[order] [int] NOT NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.CountryEntities] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[country]    Script Date: 11/23/2016 14:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[country](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](20) NULL,
	[name] [nvarchar](50) NULL,
	[order] [int] NOT NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.country] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[country] ON
INSERT [dbo].[country] ([id], [code], [name], [order], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (1, N'CN', N'中国', 1, 0, 0, CAST(0x0000A58000000000 AS DateTime), CAST(0x0000A58000000000 AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[country] OFF
/****** Object:  Table [dbo].[CityEntities]    Script Date: 11/23/2016 14:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CityEntities](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[provinceId] [bigint] NOT NULL,
	[code] [nvarchar](20) NULL,
	[name] [nvarchar](50) NULL,
	[order] [int] NOT NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.CityEntities] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WechatConfigEntities]    Script Date: 11/23/2016 14:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WechatConfigEntities](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[description] [nvarchar](100) NULL,
	[openId] [nvarchar](20) NULL,
	[appId] [nvarchar](50) NULL,
	[appName] [nvarchar](50) NULL,
	[appSecret] [nvarchar](50) NULL,
	[accessToken] [nvarchar](100) NULL,
	[token] [nvarchar](50) NULL,
	[security] [nvarchar](50) NULL,
	[ticket] [nvarchar](50) NULL,
	[componentName] [nvarchar](50) NULL,
	[componentAppId] [nvarchar](50) NULL,
	[componentAppSecret] [nvarchar](50) NULL,
	[componentAccessToken] [nvarchar](100) NULL,
	[url] [nvarchar](100) NULL,
	[imageUrl] [nvarchar](100) NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.WechatConfigEntities] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WechatConfig]    Script Date: 11/23/2016 14:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WechatConfig](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[description] [nvarchar](100) NULL,
	[openId] [nvarchar](20) NULL,
	[appId] [nvarchar](50) NULL,
	[appName] [nvarchar](50) NULL,
	[appSecret] [nvarchar](50) NULL,
	[accessToken] [nvarchar](100) NULL,
	[token] [nvarchar](50) NULL,
	[security] [nvarchar](50) NULL,
	[ticket] [nvarchar](50) NULL,
	[componentName] [nvarchar](50) NULL,
	[componentAppId] [nvarchar](50) NULL,
	[componentAppSecret] [nvarchar](50) NULL,
	[componentAccessToken] [nvarchar](100) NULL,
	[url] [nvarchar](100) NULL,
	[imageUrl] [nvarchar](100) NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.WechatConfig] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[WechatConfig] ON
INSERT [dbo].[WechatConfig] ([id], [name], [description], [openId], [appId], [appName], [appSecret], [accessToken], [token], [security], [ticket], [componentName], [componentAppId], [componentAppSecret], [componentAccessToken], [url], [imageUrl], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (2, N'henry', NULL, NULL, N'wx7f7055c58def7a9d', N'test', N'2abbafe8db3b3cfcbd2c79e2d14516fa', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 0, CAST(0x0000A58000000000 AS DateTime), CAST(0x0000A58000000000 AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[WechatConfig] OFF
/****** Object:  Table [dbo].[SystemScheduler]    Script Date: 11/23/2016 14:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemScheduler](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[jobId] [bigint] NOT NULL,
	[scheduleName] [nvarchar](50) NULL,
	[scheduleDescription] [nvarchar](100) NULL,
	[scheduleGroup] [nvarchar](100) NULL,
	[intervalType] [int] NOT NULL,
	[cronExpression] [nvarchar](100) NULL,
	[year] [int] NOT NULL,
	[month] [int] NOT NULL,
	[day] [int] NOT NULL,
	[weekday] [int] NOT NULL,
	[hour] [int] NOT NULL,
	[minute] [int] NOT NULL,
	[second] [int] NOT NULL,
	[sqlScriptType] [int] NOT NULL,
	[sqlScript] [nvarchar](1000) NULL,
	[serverName] [nvarchar](100) NULL,
	[siteName] [nvarchar](100) NULL,
	[runTime] [datetime] NOT NULL,
	[stopTime] [datetime] NOT NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SystemScheduler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SystemScheduler] ON
SET IDENTITY_INSERT [dbo].[SystemScheduler] OFF
/****** Object:  Table [dbo].[SystemRole]    Script Date: 11/23/2016 14:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemRole](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[roleName] [nvarchar](50) NULL,
	[roleOrder] [int] NOT NULL,
	[bitMap] [bigint] NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SystemRole] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SystemRole] ON
INSERT [dbo].[SystemRole] ([id], [roleName], [roleOrder], [bitMap], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (1, N'admin', 1, 1, 0, 0, CAST(0x0000A58000000000 AS DateTime), CAST(0x0000A58000000000 AS DateTime), NULL, 1)
INSERT [dbo].[SystemRole] ([id], [roleName], [roleOrder], [bitMap], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (2, N'42a0093d22b64cc480e62c93213b3a8f_test', 99, 2, 0, 2, CAST(0x0000A58000000000 AS DateTime), CAST(0x0000A6C6012DF905 AS DateTime), NULL, 1)
INSERT [dbo].[SystemRole] ([id], [roleName], [roleOrder], [bitMap], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (3, N'user', 3, 4, 0, 0, CAST(0x0000A58000000000 AS DateTime), CAST(0x0000A58000000000 AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[SystemRole] OFF
/****** Object:  Table [dbo].[SystemMenuRole]    Script Date: 11/23/2016 14:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemMenuRole](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[menuId] [bigint] NOT NULL,
	[roleId] [bigint] NOT NULL,
	[excuteType] [int] NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SystemMenuRole] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SystemMenuRole] ON
INSERT [dbo].[SystemMenuRole] ([id], [menuId], [roleId], [excuteType], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (1, 2, 1, 1, 0, 0, CAST(0x0000A699010183CE AS DateTime), CAST(0x0000A699010183CE AS DateTime), NULL, 1)
INSERT [dbo].[SystemMenuRole] ([id], [menuId], [roleId], [excuteType], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (2, 8, 1, 1, 0, 0, CAST(0x0000A6990101844B AS DateTime), CAST(0x0000A6990101844B AS DateTime), NULL, 1)
INSERT [dbo].[SystemMenuRole] ([id], [menuId], [roleId], [excuteType], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (3, 3, 1, 1, 0, 0, CAST(0x0000A6990101844E AS DateTime), CAST(0x0000A6990101844E AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[SystemMenuRole] OFF
/****** Object:  Table [dbo].[SystemMenu]    Script Date: 11/23/2016 14:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemMenu](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NULL,
	[menuName] [nvarchar](50) NULL,
	[description] [nvarchar](100) NULL,
	[parentId] [bigint] NOT NULL,
	[menuOrder] [int] NOT NULL,
	[menuType] [int] NOT NULL,
	[url] [nvarchar](100) NULL,
	[treeLevel] [int] NOT NULL,
	[updateBitMap] [bigint] NOT NULL,
	[insertBitMap] [bigint] NOT NULL,
	[deleteBitMap] [bigint] NOT NULL,
	[selectBitMap] [bigint] NOT NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SystemMenu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SystemMenu] ON
INSERT [dbo].[SystemMenu] ([id], [code], [menuName], [description], [parentId], [menuOrder], [menuType], [url], [treeLevel], [updateBitMap], [insertBitMap], [deleteBitMap], [selectBitMap], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (2, NULL, N'账号管理', N'系统设置', 0, 100000000, 2, NULL, 0, 3, 3, 3, 7, 0, 0, CAST(0x0000A58000000000 AS DateTime), CAST(0x0000A58000000000 AS DateTime), NULL, 1)
INSERT [dbo].[SystemMenu] ([id], [code], [menuName], [description], [parentId], [menuOrder], [menuType], [url], [treeLevel], [updateBitMap], [insertBitMap], [deleteBitMap], [selectBitMap], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (3, N'Account', N'系统账号', N'系统账号', 2, 100200000, 1, N'/Account/Index', 1, 3, 3, 3, 7, 0, 0, CAST(0x0000A58000000000 AS DateTime), CAST(0x0000A58000000000 AS DateTime), NULL, 1)
INSERT [dbo].[SystemMenu] ([id], [code], [menuName], [description], [parentId], [menuOrder], [menuType], [url], [treeLevel], [updateBitMap], [insertBitMap], [deleteBitMap], [selectBitMap], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (4, N'Role', N'角色管理', N'角色管理', 2, 100300000, 1, N'/Role/Index', 1, 3, 3, 3, 7, 0, 0, CAST(0x0000A58000000000 AS DateTime), CAST(0x0000A58000000000 AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[SystemMenu] OFF
/****** Object:  Table [dbo].[SystemLog]    Script Date: 11/23/2016 14:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemLog](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NOT NULL,
	[thread] [nvarchar](max) NULL,
	[level] [nvarchar](max) NULL,
	[logger] [nvarchar](max) NULL,
	[source] [nvarchar](max) NULL,
	[exception] [nvarchar](max) NULL,
	[message] [nvarchar](max) NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SystemLog] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemJobParameter]    Script Date: 11/23/2016 14:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemJobParameter](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[jobId] [bigint] NOT NULL,
	[parameterName] [nvarchar](50) NULL,
	[parameterValue] [nvarchar](100) NULL,
	[parameterType] [int] NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SystemJobParameter] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SystemJobParameter] ON
INSERT [dbo].[SystemJobParameter] ([id], [jobId], [parameterName], [parameterValue], [parameterType], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (1, 2, N'a', N'abc', 1, 0, 0, CAST(0x0000A58000000000 AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SystemJobParameter] ([id], [jobId], [parameterName], [parameterValue], [parameterType], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (2, 2, N'b', N'1', 2, 0, 0, CAST(0x0000A58000000000 AS DateTime), NULL, NULL, 1)
INSERT [dbo].[SystemJobParameter] ([id], [jobId], [parameterName], [parameterValue], [parameterType], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (7, 2, N'date', N'2016-01-01 00:20:22', 4, 0, 0, CAST(0x0000A58000000000 AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[SystemJobParameter] OFF
/****** Object:  Table [dbo].[SystemJobLog]    Script Date: 11/23/2016 14:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemJobLog](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[jobId] [bigint] NOT NULL,
	[schedulerId] [bigint] NOT NULL,
	[jobName] [nvarchar](100) NULL,
	[jobGroup] [nvarchar](100) NULL,
	[jobType] [int] NOT NULL,
	[scheduleName] [nvarchar](100) NULL,
	[scheduleGroup] [nvarchar](100) NULL,
	[executeSecond] [bigint] NOT NULL,
	[startTime] [datetime] NOT NULL,
	[endTime] [datetime] NOT NULL,
	[resultType] [int] NOT NULL,
	[resultMessage] [nvarchar](max) NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SystemSchedulerLog] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SystemJobLog] ON
INSERT [dbo].[SystemJobLog] ([id], [jobId], [schedulerId], [jobName], [jobGroup], [jobType], [scheduleName], [scheduleGroup], [executeSecond], [startTime], [endTime], [resultType], [resultMessage], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (3, 2, 5, N'JobTest', N'HH.RMS.Scheduler.Job.AssemblyJob', 0, N'每分钟执行任务', N'每分执行组', 21506, CAST(0x0000A6A900F1266C AS DateTime), CAST(0x0000A6A900F13FA1 AS DateTime), 0, N'', 0, 0, CAST(0x0000A6A900F13FA2 AS DateTime), CAST(0x0000A6A900F13FA2 AS DateTime), NULL, 1)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[SystemJobLog] OFF
/****** Object:  Table [dbo].[SystemJob]    Script Date: 11/23/2016 14:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemJob](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[schedulerId] [bigint] NOT NULL,
	[jobName] [nvarchar](50) NOT NULL,
	[jobDescription] [nvarchar](100) NULL,
	[jobType] [int] NOT NULL,
	[jobGroup] [nvarchar](100) NOT NULL,
	[jobAssemblyFullName] [nvarchar](500) NULL,
	[jobAssembly] [nvarchar](100) NULL,
	[jobAssemblyPath] [nvarchar](100) NULL,
	[jobAssemblyMethod] [nvarchar](100) NULL,
	[jobUrl] [nvarchar](500) NULL,
	[jobCommandType] [int] NULL,
	[jobCommandText] [nvarchar](max) NULL,
	[fromDate] [datetime] NOT NULL,
	[toDate] [datetime] NOT NULL,
	[isSequence] [bit] NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SystemJob] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SystemJob] ON
SET IDENTITY_INSERT [dbo].[SystemJob] OFF
/****** Object:  Table [dbo].[RoleEntities]    Script Date: 11/23/2016 14:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleEntities](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[roleName] [nvarchar](32) NULL,
	[bitMap] [bigint] NOT NULL,
	[roleOrder] [int] NOT NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.RoleEntities] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProvinceEntities]    Script Date: 11/23/2016 14:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProvinceEntities](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[countryId] [bigint] NOT NULL,
	[code] [nvarchar](20) NULL,
	[name] [nvarchar](50) NULL,
	[order] [int] NOT NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ProvinceEntities] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountLevel]    Script Date: 11/23/2016 14:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountLevel](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[levelName] [nvarchar](max) NULL,
	[levelOrder] [int] NOT NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.AccountLevel] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AccountLevel] ON
INSERT [dbo].[AccountLevel] ([id], [levelName], [levelOrder], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (1, N'test2', 3, 1, 1, CAST(0x0000A58000000000 AS DateTime), CAST(0x0000A6C6012D0C33 AS DateTime), N'', 1)
INSERT [dbo].[AccountLevel] ([id], [levelName], [levelOrder], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (2, N'b2155357a8b8411b807b7c7fcae07a8e', 2, 0, 1, CAST(0x0000A6C6011954A9 AS DateTime), CAST(0x0000A6C6012D0C33 AS DateTime), NULL, 1)
INSERT [dbo].[AccountLevel] ([id], [levelName], [levelOrder], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (3, N'261b36b25b244ff8a9d3125baa5f0075', 2, 0, 1, CAST(0x0000A6C6012D0BEE AS DateTime), CAST(0x0000A6C6012D0C33 AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[AccountLevel] OFF
/****** Object:  Table [dbo].[AccountEntities]    Script Date: 11/23/2016 14:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountEntities](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[accountName] [nvarchar](50) NULL,
	[password] [nvarchar](32) NULL,
	[personId] [bigint] NOT NULL,
	[email] [nvarchar](50) NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[score] [decimal](18, 2) NOT NULL,
	[levelId] [bigint] NOT NULL,
	[roleBitMap] [bigint] NOT NULL,
	[accountType] [int] NOT NULL,
	[status] [int] NOT NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.AccountEntities] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 11/23/2016 14:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[accountName] [nvarchar](50) NULL,
	[password] [nvarchar](32) NULL,
	[personId] [bigint] NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[score] [decimal](18, 2) NOT NULL,
	[LevelId] [bigint] NOT NULL,
	[status] [int] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
	[accountType] [int] NOT NULL,
	[roleBitMap] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[updateTime] [datetime] NOT NULL,
	[createBy] [bigint] NOT NULL,
	[createTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Account] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_AccountName] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON
INSERT [dbo].[Account] ([id], [accountName], [password], [personId], [email], [amount], [score], [LevelId], [status], [remark], [isActive], [accountType], [roleBitMap], [updateBy], [updateTime], [createBy], [createTime]) VALUES (2, N'admin', N'e10adc3949ba59abbe56e057f20f883e', 1, N'aaa@email.com', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 1, 1, NULL, 1, 1, 1, 2, CAST(0x0000A6C501135F2F AS DateTime), 0, CAST(0x0000A63200A6F45F AS DateTime))
INSERT [dbo].[Account] ([id], [accountName], [password], [personId], [email], [amount], [score], [LevelId], [status], [remark], [isActive], [accountType], [roleBitMap], [updateBy], [updateTime], [createBy], [createTime]) VALUES (3, N'user1', N'123456', 1, N'bbb@email.com', CAST(0.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), 1, 1, NULL, 1, 1, 1, 2, CAST(0x0000A65D012CAE2C AS DateTime), 0, CAST(0x0000A63200A7E8EE AS DateTime))
INSERT [dbo].[Account] ([id], [accountName], [password], [personId], [email], [amount], [score], [LevelId], [status], [remark], [isActive], [accountType], [roleBitMap], [updateBy], [updateTime], [createBy], [createTime]) VALUES (4, N'user2', N'123456', 1, N'ccc@email.com', CAST(0.00 AS Decimal(18, 2)), CAST(20.00 AS Decimal(18, 2)), 1, 1, NULL, 1, 1, 1, 2, CAST(0x0000A65D012CAE2C AS DateTime), 0, CAST(0x0000A63200A930A2 AS DateTime))
SET IDENTITY_INSERT [dbo].[Account] OFF
/****** Object:  Table [dbo].[province]    Script Date: 11/23/2016 14:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[province](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[countryId] [bigint] NOT NULL,
	[code] [nvarchar](20) NULL,
	[name] [nvarchar](50) NULL,
	[order] [int] NOT NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.province] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[province] ON
INSERT [dbo].[province] ([id], [countryId], [code], [name], [order], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (1, 1, N'安徽', N'安徽', 13, 0, 0, CAST(0x0000A65F00C55C8E AS DateTime), CAST(0x0000A65F00C55C8E AS DateTime), NULL, 1)
INSERT [dbo].[province] ([id], [countryId], [code], [name], [order], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (2, 1, N'澳门', N'澳门', 9, 0, 0, CAST(0x0000A65F00C55C8E AS DateTime), CAST(0x0000A65F00C55C8E AS DateTime), NULL, 1)
INSERT [dbo].[province] ([id], [countryId], [code], [name], [order], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (3, 1, N'北京', N'北京', 2, 0, 0, CAST(0x0000A65F00C55C8E AS DateTime), CAST(0x0000A65F00C55C8E AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[province] OFF
/****** Object:  Table [dbo].[SystemAccountRole]    Script Date: 11/23/2016 14:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemAccountRole](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[accountId] [bigint] NOT NULL,
	[roleId] [bigint] NOT NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SystemAccountRole] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SystemAccountRole] ON
INSERT [dbo].[SystemAccountRole] ([id], [accountId], [roleId], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (1, 2, 1, 0, 2, CAST(0x0000A58000000000 AS DateTime), CAST(0x0000A6B101119531 AS DateTime), NULL, 1)
INSERT [dbo].[SystemAccountRole] ([id], [accountId], [roleId], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (4, 25, 1, 2, 2, CAST(0x0000A6B10111DAB4 AS DateTime), CAST(0x0000A6B101141671 AS DateTime), NULL, 1)
INSERT [dbo].[SystemAccountRole] ([id], [accountId], [roleId], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (5, 24, 1, 2, 2, CAST(0x0000A6B101199162 AS DateTime), CAST(0x0000A6B101199162 AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[SystemAccountRole] OFF
/****** Object:  Table [dbo].[SchedulerEntities]    Script Date: 11/23/2016 14:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchedulerEntities](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[jobId] [bigint] NOT NULL,
	[scheduleName] [nvarchar](50) NULL,
	[scheduleDescription] [nvarchar](100) NULL,
	[scheduleGroup] [nvarchar](100) NULL,
	[intervalType] [int] NOT NULL,
	[cronExpression] [nvarchar](100) NULL,
	[year] [int] NOT NULL,
	[month] [int] NOT NULL,
	[day] [int] NOT NULL,
	[weekday] [int] NOT NULL,
	[hour] [int] NOT NULL,
	[minute] [int] NOT NULL,
	[second] [int] NOT NULL,
	[sqlScriptType] [int] NOT NULL,
	[sqlScript] [nvarchar](1000) NULL,
	[serverName] [nvarchar](100) NULL,
	[siteName] [nvarchar](100) NULL,
	[runTime] [datetime] NOT NULL,
	[stopTime] [datetime] NOT NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SchedulerEntities] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[city]    Script Date: 11/23/2016 14:48:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[city](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[provinceId] [bigint] NOT NULL,
	[code] [nvarchar](20) NULL,
	[name] [nvarchar](50) NULL,
	[order] [int] NOT NULL,
	[createBy] [bigint] NOT NULL,
	[updateBy] [bigint] NULL,
	[createTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[remark] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.city] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[city] ON
INSERT [dbo].[city] ([id], [provinceId], [code], [name], [order], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (2, 27, N'阿坝州', N'阿坝州', 2, 0, 0, CAST(0x0000A65F00C55C90 AS DateTime), CAST(0x0000A65F00C55C90 AS DateTime), NULL, 1)
INSERT [dbo].[city] ([id], [provinceId], [code], [name], [order], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (3, 32, N'阿克苏地区', N'阿克苏地区', 3, 0, 0, CAST(0x0000A65F00C55C90 AS DateTime), CAST(0x0000A65F00C55C90 AS DateTime), NULL, 1)
INSERT [dbo].[city] ([id], [provinceId], [code], [name], [order], [createBy], [updateBy], [createTime], [updateTime], [remark], [isActive]) VALUES (4, 19, N'阿拉善盟', N'阿拉善盟', 4, 0, 0, CAST(0x0000A65F00C55C90 AS DateTime), CAST(0x0000A65F00C55C90 AS DateTime), NULL, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
SET IDENTITY_INSERT [dbo].[city] OFF
/****** Object:  Default [DF_Account_accountType]    Script Date: 11/23/2016 14:48:04 ******/
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF_Account_accountType]  DEFAULT ((1)) FOR [accountType]
GO
/****** Object:  Default [DF_city_createBy]    Script Date: 11/23/2016 14:48:04 ******/
ALTER TABLE [dbo].[city] ADD  CONSTRAINT [DF_city_createBy]  DEFAULT ((0)) FOR [createBy]
GO
/****** Object:  Default [DF_city_updateBy]    Script Date: 11/23/2016 14:48:04 ******/
ALTER TABLE [dbo].[city] ADD  CONSTRAINT [DF_city_updateBy]  DEFAULT ((0)) FOR [updateBy]
GO
/****** Object:  Default [DF_city_createTime]    Script Date: 11/23/2016 14:48:04 ******/
ALTER TABLE [dbo].[city] ADD  CONSTRAINT [DF_city_createTime]  DEFAULT (getdate()) FOR [createTime]
GO
/****** Object:  Default [DF_city_updateTime]    Script Date: 11/23/2016 14:48:04 ******/
ALTER TABLE [dbo].[city] ADD  CONSTRAINT [DF_city_updateTime]  DEFAULT (getdate()) FOR [updateTime]
GO
/****** Object:  Default [DF_city_isActive]    Script Date: 11/23/2016 14:48:04 ******/
ALTER TABLE [dbo].[city] ADD  CONSTRAINT [DF_city_isActive]  DEFAULT ((1)) FOR [isActive]
GO
/****** Object:  Default [DF_province_createBy]    Script Date: 11/23/2016 14:48:04 ******/
ALTER TABLE [dbo].[province] ADD  CONSTRAINT [DF_province_createBy]  DEFAULT ((0)) FOR [createBy]
GO
/****** Object:  Default [DF_province_updateBy]    Script Date: 11/23/2016 14:48:04 ******/
ALTER TABLE [dbo].[province] ADD  CONSTRAINT [DF_province_updateBy]  DEFAULT ((0)) FOR [updateBy]
GO
/****** Object:  Default [DF_province_createTime]    Script Date: 11/23/2016 14:48:04 ******/
ALTER TABLE [dbo].[province] ADD  CONSTRAINT [DF_province_createTime]  DEFAULT (getdate()) FOR [createTime]
GO
/****** Object:  Default [DF_province_updateTime]    Script Date: 11/23/2016 14:48:04 ******/
ALTER TABLE [dbo].[province] ADD  CONSTRAINT [DF_province_updateTime]  DEFAULT (getdate()) FOR [updateTime]
GO
/****** Object:  Default [DF_province_isActive]    Script Date: 11/23/2016 14:48:04 ******/
ALTER TABLE [dbo].[province] ADD  CONSTRAINT [DF_province_isActive]  DEFAULT ((1)) FOR [isActive]
GO
/****** Object:  Default [DF_SystemMenu_updateBitMap]    Script Date: 11/23/2016 14:48:04 ******/
ALTER TABLE [dbo].[SystemMenu] ADD  CONSTRAINT [DF_SystemMenu_updateBitMap]  DEFAULT ((0)) FOR [updateBitMap]
GO
/****** Object:  Default [DF_SystemMenu_insertBitMap]    Script Date: 11/23/2016 14:48:04 ******/
ALTER TABLE [dbo].[SystemMenu] ADD  CONSTRAINT [DF_SystemMenu_insertBitMap]  DEFAULT ((0)) FOR [insertBitMap]
GO
/****** Object:  Default [DF_SystemMenu_deleteBitMap]    Script Date: 11/23/2016 14:48:04 ******/
ALTER TABLE [dbo].[SystemMenu] ADD  CONSTRAINT [DF_SystemMenu_deleteBitMap]  DEFAULT ((0)) FOR [deleteBitMap]
GO
/****** Object:  Default [DF_SystemMenu_selectBitMap]    Script Date: 11/23/2016 14:48:04 ******/
ALTER TABLE [dbo].[SystemMenu] ADD  CONSTRAINT [DF_SystemMenu_selectBitMap]  DEFAULT ((0)) FOR [selectBitMap]
GO
/****** Object:  ForeignKey [FK_Account_person]    Script Date: 11/23/2016 14:48:04 ******/
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_person] FOREIGN KEY([personId])
REFERENCES [dbo].[person] ([id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_person]
GO
/****** Object:  ForeignKey [FK_dbo.city_dbo.province_provinceId]    Script Date: 11/23/2016 14:48:04 ******/
ALTER TABLE [dbo].[city]  WITH CHECK ADD  CONSTRAINT [FK_dbo.city_dbo.province_provinceId] FOREIGN KEY([provinceId])
REFERENCES [dbo].[province] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[city] CHECK CONSTRAINT [FK_dbo.city_dbo.province_provinceId]
GO
/****** Object:  ForeignKey [FK_dbo.province_dbo.country_countryId]    Script Date: 11/23/2016 14:48:04 ******/
ALTER TABLE [dbo].[province]  WITH CHECK ADD  CONSTRAINT [FK_dbo.province_dbo.country_countryId] FOREIGN KEY([countryId])
REFERENCES [dbo].[country] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[province] CHECK CONSTRAINT [FK_dbo.province_dbo.country_countryId]
GO
/****** Object:  ForeignKey [FK_dbo.SchedulerEntities_dbo.JobEntities_jobId]    Script Date: 11/23/2016 14:48:04 ******/
ALTER TABLE [dbo].[SchedulerEntities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SchedulerEntities_dbo.JobEntities_jobId] FOREIGN KEY([jobId])
REFERENCES [dbo].[JobEntities] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SchedulerEntities] CHECK CONSTRAINT [FK_dbo.SchedulerEntities_dbo.JobEntities_jobId]
GO
/****** Object:  ForeignKey [FK_dbo.SystemAccountRole_dbo.SystemRole_roleId]    Script Date: 11/23/2016 14:48:04 ******/
ALTER TABLE [dbo].[SystemAccountRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SystemAccountRole_dbo.SystemRole_roleId] FOREIGN KEY([roleId])
REFERENCES [dbo].[SystemRole] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SystemAccountRole] CHECK CONSTRAINT [FK_dbo.SystemAccountRole_dbo.SystemRole_roleId]
GO
