<div id="dlg_Add" class="easyui-dialog" title="修改账户信息" closed="true" style="width:300px" data-options=" iconCls: 'icon-save',	buttons: [{	text:'保存',	iconCls:'icon-ok',	handler:Save},{text:'取消',iconCls:'icon-cancel',handler:cancel}]">
    <div title="Register" style="width:98%;">
        <form id="from_account">
            <input type="hidden" name="id" id="accountId" />
            <input type="hidden" name="person.id" id="personId" />
            <ul><li style="width:30%">账户名称:</li><li style="width:60%"><input id="accountName" name="accountName" class="easyui-textbox"></li></ul>@*data-options="prompt:'Enter a email address...',validType:'email'"*@
            <ul><li style="width:30%">积分:</li><li style="width:60%"><input id="score" name="score" class="easyui-numberbox"></li></ul>
            <ul><li style="width:30%">充值:</li><li style="width:60%"><input id="amount" name="amount" class="easyui-numberbox"></li></ul>
            <ul>
                <li style="width:30%">等级:</li>
                <li style="width:60%">
                    <input id="sel_level" name="level.id"/>
                </li>
            </ul>
            <ul>
                <li style="width:30%">状态:</li>
                <li style="width:60%">
                    <select id="sel_statusType" class="easyui-combobox" name="statusType">
                        <option value="1">Normal</option>
                        <option value="2">Disable</option>
                        <option value="3">Black</option>
                    </select>
                </li>
            </ul>
            <ul>
                <li style="width:30%">角色:</li>
                <li style="width:60%">
                    <input name="role.id" id="sel_role"/>
                </li>
            </ul>
        </form>
    </div>
</div>
<script>

    function Save() {
        $('#dlg_Add').dialog('close');
        loadingBox.show("正在保存中...")
        var data = $("#from_account").serialize();
        var accountId = $("#accountId").val();
        var url = "/Account/UpdateAccount";
        $.post(url, data, function (d) {
            loadingBox.hide();
            if (d.result == "@((int)ResultType.Success)") {
                alert("保存成功");
                $("#accountList").datagrid();

            }
            else {
                alert("保存失败");
                $('#dlg_Add').dialog('open');
            }
            $("#accountList").datagrid('uncheckAll');

        })
    }
    $("#sel_role").combobox({
        url: '/Account/QueryRoleList',
        valueField: 'value',
        textField: 'text',
        required: false,
        editable: false,
        value: 0
    });
    $("#sel_level").combobox({
        url: '/Account/QueryLevelList',
        valueField: 'value',
        textField: 'text',
        required: false,
        editable: false,
        value: 0
    });
    function cancel() {
        $('#dlg_Add').dialog('close');
    }
</script>