<div id="dlg_menuRole" class="easyui-dialog" title="角色权限" closed="true" style="width:400px; height:300px; overflow-y:auto" data-options=" iconCls: 'icon-save',	buttons: [{	text:'保存',	iconCls:'icon-ok',	handler:MenuRoleSave}]">
    <table id="table_menuRole" style="width:400px;height:auto"></table>
</div>
<script type="text/javascript">
    function MenuRole(roleId)
    {
        $("#table_roleList").datagrid('uncheckAll');
        var editRow = undefined; //定义全局变量：当前编辑的行
        $('#dlg_menuRole').dialog('open');
        $('#table_menuRole').datagrid({
            title: '',
            iconCls: 'icon-edit',//图标
            width: 320,
            height: 'auto',
            nowrap: false,
            striped: true,
            border: true,
            collapsible: true,//是否可折叠的
            fit: true,//自动大小
            url: '/Role/QueryMenuRole?roleId=' + roleId,
            idField: 'menuRoleId',
            singleSelect: true,//是否单选
            loadMsg: "正在加载，请稍等...",
            rownumbers: false,//行号
            //onClickCell: function (rowIndex, rowData) {
            //    if (editRow != undefined) {
            //        $('#table_menuRole').datagrid("endEdit", editRow);
            //    }
            //    if (editRow == undefined) {
            //        $('#table_menuRole').datagrid("beginEdit", rowIndex);
            //        editRow = rowIndex;
            //        $('#table_menuRole').datagrid('selectRow', rowIndex);
            //    }
            //},
            //onAfterEdit: function (rowIndex, rowData, changes) {
            //    //endEdit该方法触发此事件
            //    editRow = undefined;
            //},
            columns: [[
                { field: 'menuRoleId', title: '', width: 20, align: 'center', hidden: true },
                { field: 'menuId', title: '', width: 20, align: 'center', hidden: true },
                {
                    field: 'menuName', title: '菜单名称', width: 120, align: 'center', formatter: function (value, row) {
                        var space = "";
                        var spaceCount = row.treeLevel * 8;
                        for (var i = 1; i <= spaceCount; i++)
                        {
                            space += "&nbsp;";
                        }
                        return space + row.menuName;
                    }
                },
                {
                    field: 'isSelect', title: '选择', width: 50, align: 'center'
                    //, editor: { type: 'checkbox', options: { on: true, off: false } }
                    , formatter: function (value, row) {
                        var checked = '';
                        if (row.isInsert == true || row.isUpdate == true || row.isDelete == true || row.isSelect == true) {
                            checked = 'checked="true" ';
                        }
                        return '<input type="checkbox" name="isSelect"' + checked + '>';
                    }
                },
                {
                    field: 'isInsert', title: '插入', width: 50, align: 'center'
                    , formatter: function (value, row) {
                        var checked = '';
                        if (row.isInsert == true) {
                            checked = 'checked="true" ';
                        }
                        return '<input type="checkbox" name="isInsert" ' + checked + '>';
                    }
                },
                {
                    field: 'isUpdate', title: '更新', width: 50, align: 'center'
                    , formatter: function (value, row) {
                        var checked = '';
                        if (row.isUpdate == true) {
                            checked = 'checked="true"';
                        }
                        return '<input type="checkbox" name="isUpdate" ' + checked + '>';
                    }
                },
                {
                    field: 'isDelete', title: '删除', width: 50, align: 'center'
                    //, editor: { type: 'checkbox', options: { on: true, off: false } }
                    , formatter: function (value, row) {
                        var checked = '';
                        if (row.isDelete == true) {
                            checked = 'checked="true"';
                        }
                        return '<input type="checkbox" name="isDelete" ' + checked + '>';
                    }
                },
            ]] ,
        });
    }
    function MenuRoleSave()
    {
        var selectedRow = $("#table_roleList").datagrid('getSelected');
        var roleId = selectedRow.roleId
        var rows = JSON.stringify($("#table_menuRole").datagrid("getRows"));
        var data = { menuRoleString: rows, roleId: roleId };
        //var rows = $("#table_menuRole").datagrid("getRows");
        //var data = { list: rows, roleId: roleId };
        console.log(data)
        $.post("/Role/UpdateMenuRole", data, function (d) {

        },"json")
    }

</script>