<div id="dlg_menuRole" class="easyui-dialog" title="角色权限" closed="true" style="width:400px; height:300px; overflow-y:auto" data-options=" iconCls: 'icon-save',	buttons: [{	text:'保存',	iconCls:'icon-ok',	handler:MenuRoleSave}]">
    <table id="table_menuRole" style="width:400px;height:auto"></table>
</div>
<script type="text/javascript">
    function MenuRole(roleId)
    {
        $("#table_roleList").datagrid('uncheckAll');
        var editRow = undefined; //定义全局变量：当前编辑的行
        $('#dlg_menuRole').dialog('open');
        $('#table_menuRole').datagrid({
            title: '',
            iconCls: 'icon-edit',//图标
            width: 320,
            height: 'auto',
            nowrap: false,
            striped: true,
            border: true,
            collapsible: true,//是否可折叠的
            fit: true,//自动大小
            url: '/Role/QueryMenuRole?roleId=' + roleId,
            idField: 'menuRoleId',
            singleSelect: true,//是否单选
            loadMsg: "正在加载，请稍等...",

            rownumbers: true,//行号
            onClickCell: function (rowIndex, rowData) {
                //双击开启编辑行
                if (editRow != undefined) {
                    $('#table_menuRole').datagrid("endEdit", editRow);
                }
                if (editRow == undefined) {
                    $('#table_menuRole').datagrid("beginEdit", rowIndex);
                    editRow = rowIndex;
                }
            },
            onAfterEdit: function (rowIndex, rowData, changes) {
                //endEdit该方法触发此事件
                editRow = undefined;
            },
            columns: [[
                {
                    field: 'menu.menuName', title: '菜单名称', width: 120, align: 'center', formatter: function (value, row) {
                        return row.menu.menuName;
                    }
                },
                {
                    field: 'isSelect', title: '选择', width: 50, align: 'center', editor: { type: 'checkbox', options: { on: 'True', off: '' } }, formatter: function (value, row) {
                        if (row.isInsert == "True" || row.isUpdate == "True" || row.isDelete == "True" || row.isSelect=="True") {
                            return "√";
                        }
                        else {
                            return "";
                        }
                    }
                },
                {
                    field: 'isInsert', title: '插入', width: 50, align: 'center', editor: { type: 'checkbox', options: { on: 'True', off: '' } }, formatter: function (value, row) {
                        if (row.isInsert == "True")
                            return "√";
                        else
                            return "";
                    }
                },
                {
                    field: 'isUpdate', title: '更新', width: 50, align: 'center', editor: { type: 'checkbox', options: { on: 'True', off: '' } }, formatter: function (value, row) {
                        if (row.isUpdate == "True")
                            return "√";
                        else
                            return "";
                    }
                },
                {
                    field: 'isDelete', title: '删除', width: 50, align: 'center', editor: { type: 'checkbox', options: { on: 'True', off: '' } }, formatter: function (value, row) {
                        if (row.isDelete == "True")
                            return "√";
                        else
                            return ""; 
                    }
                },
            ]] ,
        });
    }
    function MenuRoleSave()
    {
        var data = "{";
        var selectedRow = $("#table_roleList").datagrid('getSelected');
        var roleId = selectedRow.roleId
        data = "roleId:"+roleId;
        var rows = $("#table_menuRole").datagrid("getRows");
        console.log(rows)
        console.log(JSON.stringify(rows))
        rows.push(arr);
        data = "}";
        $.post("/Role/UpdateRole", data, function (d) {

        })
    }
</script>